---
import DocsLayout from "@layouts/DocsLayout.astro";

export async function getStaticPaths() {
  const posts = await Astro.glob("../../../../MultiQC/docs/core/**/*.md");
  return posts.map((post) => ({
    params: {
      slug: post.file.split("/").pop().replace(".md", ""),
    },
    props: {
      post: post,
      docs_pages: posts.map((page: object) => ({
        slug: page.file.split("/").pop().replace(".md", ""),
        title: page.frontmatter.title,
      })),
      frontmatter: post.frontmatter,
    },
  }));
}

const { Content, frontmatter } = Astro.props.post;
const gh_url =
  "https://github.com/ewels/MultiQC/blob/master/docs/core/" +
  Astro.props.post.file.split("/").pop();
const headings = Astro.props.post.getHeadings();
---

<DocsLayout
  title={frontmatter.title}
  subtitle={frontmatter.description}
  docs_pages={Astro.props.docs_pages}
  headings={headings}
  md_github_url={gh_url}
>
  <div class="prose max-w-none dark:prose-invert">
    <Content />
  </div>
</DocsLayout>
