---
import { Icon } from 'astro-icon';

// export interface Props {
//     classes: string,
//     theme: oneOf(['default', 'alternative']),
//     variant: oneOf(['reset', 'primary', 'secondary', 'accent']),
//     size: oneOf(['reset', 'sm', 'md', 'lg']),
//     noShadow: boolean,
//     submit: boolean,
//     onClick: Function,
//     to: string,
//     arrow: boolean,
// }

const {
    classes = null,
    theme = 'default',
    variant = 'reset',
    size = 'reset',
    noShadow = false,
    submit = false,
    onClick = null,
    to = null,
    arrow = false,
} = Astro.props;

if(submit && onClick){
    console.warn('You provide onClick to a submit button. Please remove onClick handler or submit attribute');
}

const buttonClassName = [
        classes,
        'group font-body font-medium leading-none inline-flex items-center justify-center antialiased select-none transition-all duration-200',
        {
            'shadow': !noShadow,
            'bg-transparent': variant === 'reset',
            'btn-primary': theme === 'default' && variant === 'primary',
            'btn-secondary': theme === 'default' && variant === 'secondary',
            'btn-accent': theme === 'default' && variant === 'accent',
            'btn-primary-alt': theme === 'alternative' && variant === 'primary',
            'btn-secondary-alt': theme === 'alternative' && variant === 'secondary',
            'btn-accent-alt': theme === 'alternative' && variant === 'accent',
            'px-0 py-0': size === 'reset',
            'px-4 py-2 rounded-full text-sm font-normal': size === 'sm',
            'px-8 py-4 rounded-full text-base': size === 'md',
            'px-8 py-6 rounded-full text-lg': size === 'lg',
            'relative': arrow,
            'hover:pr-10': arrow && size === 'sm',
            'hover:pr-14': arrow && size === 'md',
        },
    ];

const iconClassNames = [
        'absolute opacity-0 group-hover:opacity-100 block top-1/2 right-4 transition-opacity duration-100',
        {
            'h-4 w-4 -mt-2': size === 'sm',
            'h-6 w-6 -mt-3': size === 'md',
        }
    ];
---





    {submit && (
            <button type="submit" class:list={buttonClassName}>
                <slot />
                {arrow && (
                    <Icon name="mdi:arrow-right" class={iconClassNames} />
                )}
            </button>
    )}

    {to && (
            <a href={to} class:list={buttonClassName}>
                <slot />
                {arrow && (
                    <Icon name="mdi:arrow-right" class:list={iconClassNames} />
                )}
            </a>
    )}

    {!submit && !to && (
            <button type="button" onclick={onClick} class:list={buttonClassName}>
                <slot />
                {arrow && (
                    <Icon name="mdi:arrow-right" class:list={iconClassNames} />
                )}
            </button>
    )}
