---
import docsearch from "@docsearch/js";
import "@docsearch/css";
export interface Props {
  title: string;
  description: string;
  image: string;
}

const { title, description, image = "/social_img.png" } = Astro.props;
const title_long = title == "MultiQC" ? title : title + " - MultiQC";
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<meta name="color-scheme" content="light dark" />
<meta name="theme-color" content="#333333" />
<link rel="icon" type="image/png" href="/favicon.png" />
<meta name="generator" content={Astro.generator} />
<link rel="sitemap" href="/sitemap-index.xml" />

<!-- Primary Meta Tags -->
<title>{title_long}</title>
<meta name="title" content={title_long} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title_long} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image, Astro.url)} />

<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@MultiQC" />
<meta name="twitter:creator" content="@SeqeraLabs" />
<meta name="twitter:url" content={Astro.url} />
<meta name="twitter:title" content={title_long} />
<meta name="twitter:description" content={description} />
<meta name="twitter:image" content={new URL(image, Astro.url)} />

<!-- Google Tag Manager -->
<script client:load>
  (function (w, d, s, l, i) {
    w[l] = w[l] || [];
    w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
    var f = d.getElementsByTagName(s)[0],
      j = d.createElement(s),
      dl = l != "dataLayer" ? "&l=" + l : "";
    j.async = true;
    j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
    f.parentNode.insertBefore(j, f);
  })(window, document, "script", "dataLayer", "GTM-WN9CCC8");
</script>
<!-- End Google Tag Manager -->

<!-- Algolia -->
<script>
  import docsearch from "@docsearch/js";
  import "@docsearch/css";

  docsearch({
    container: "#search",
    appId: "V0JDBH4NO9",
    apiKey: "7dbf54c298bba90faba20e714a99550a",
    indexName: "multiqc",
  });
</script>

<!-- End Algolia -->
