---
import "../fonts/degular/main.css";
import BaseHead from "@components/Head.astro";
import "../styles/main.css";
import Navbar from "@components/navbar/Navbar.astro";
import CookieBanner from "@components/CookieBanner.svelte";
import Footer from "@components/Footer.astro";

export interface Props {
  title?: string;
  subtitle?: string;
  image?: string;
  headings?: string[];
}

import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
const {
  title = SITE_TITLE,
  subtitle = SITE_DESCRIPTION,
  image = `/og.png?title=${encodeURIComponent(title ? title : SITE_TITLE)}`,
  headings = [],
} = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="dark">
  <head>
    <BaseHead title={title} description={subtitle} image={image} />
  </head>
  <body class="bg-zinc-100 text-zinc-800 dark:bg-zinc-800 dark:text-zinc-100">
    <!-- Google Tag Manager (noscript) -->
    <noscript>
      <iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-WN9CCC8"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <Navbar headings={headings} title={title} />
    <main class="min-h-[calc(100vh-4rem-24rem)]">
      <slot />
    </main>
    <Footer />
    <CookieBanner client:load />
    <script is:inline>
      // Light / dark mode switch
      const theme = (() => {
        if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
          return localStorage.getItem("theme");
        }
        if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
          return "dark";
        }
        return "light";
      })();

      if (theme === "light") {
        document.documentElement.classList.remove("dark");
      } else {
        document.documentElement.classList.add("dark");
      }
      window.localStorage.setItem("theme", theme);
    </script>
    <script client:idle>
      // Code copy button. Based on https://www.roboleary.net/2022/01/13/copy-code-to-clipboard-blog.html
      window.onload = function () {
        // wait another 100ms - WHY?
        // TODO: Figure out how to make this work without this hack
        setTimeout(() => {
          // "Copy code" button in code blocks
          const copyButtonLabel = `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="currentColor" d="M19 21H8V7h11m0-2H8a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h11a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2m-3-4H4a2 2 0 0 0-2 2v14h2V3h12V1Z"/></svg>`;
          const copiedButtonLabel = `Copied <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M21 7L9 19l-5.5-5.5l1.41-1.41L9 16.17L19.59 5.59L21 7Z"/></svg>`;
          document
            .querySelectorAll("div[data-rehype-pretty-code-fragment] pre")
            .forEach((block) => {
              // only add button if browser supports Clipboard API
              if (navigator.clipboard) {
                let button = document.createElement("button");
                button.classList.add("copy-code-button");
                button.innerHTML = copyButtonLabel;
                button.title = "Copy code";
                block.appendChild(button);
                button.addEventListener("click", async (e) => {
                  await copyCode(block, e.currentTarget);
                });
              }
            });
          async function copyCode(block, button) {
            let code = block.querySelector("code").innerText;
            await navigator.clipboard.writeText(code);
            // visual feedback that task is completed
            button.innerHTML = copiedButtonLabel;
            setTimeout(() => {
              button.innerHTML = copyButtonLabel;
            }, 2500);
          }
        }, 100);
      };
    </script>
  </body>
</html>
