---
import PageLayout from "@layouts/PageLayout.astro";

export interface Props {
  title?: string;
  subtitle?: string;
  image?: string;
  md_github_url?: string;
  subfooter?: string;
  sidebar?: object;
}

const { title, subtitle, image, md_github_url, subfooter, sidebar } = Astro.props;
---

<PageLayout
  title={title}
  subtitle={subtitle}
  image={image}
  md_github_url={md_github_url}
  subfooter={subfooter}
>
  <div class="flex">
    <aside class="sticky top-0 mr-5 hidden h-screen w-[19.5rem] pb-10 md:block">
      // Fixed Sidebar
    </aside>

    <main>
      <slot />
    </main>
    <aside class="sticky top-0 ml-5 hidden h-screen w-[19.5rem] py-10 xl:block">
      // Fixed Table of contents
    </aside>
  </div>
</PageLayout>
