---
import BaseLayout from "@layouts/BaseLayout.astro";
import Hero from "@layouts/Hero.astro";
import MarkdownWrapper from "@components/MarkdownWrapper.svelte";
import SidebarNav from "@layouts/SidebarNav.astro";
import SidebarSecondary from "@layouts/SidebarSecondary.astro";
import CommunityLinks from "@layouts/CommunityLinks.astro";
export interface Props {
  title?: string;
  subtitle?: string;
  image?: string;
  md_github_url?: string;
  subfooter?: string;
  headings?: {
    depth: number;
    text: string;
    slug: string;
  }[];
}
const { title, subtitle, image, md_github_url, subfooter, headings } = Astro.props;
const community_links = [
  {
    url: md_github_url,
    icon: "mdi:lead-pencil",
    text: "Edit this page",
  },
  {
    url: "https://join.slack.com/t/multiqc/shared_invite/zt-1ps4q1u5x-2WtAJlZKMzMewURyxAChGA",
    icon: "mdi:slack",
    text: "Slack",
  },
  {
    url: "https://github.com/ewels/MultiQC",
    icon: "mdi:github",
    text: "GitHub",
  },
  {
    url: "https://twitter.com/MultiQC",
    icon: "mdi:twitter",
    text: "Twitter",
  },
  {
    url: "https://mstdn.science/@multiqc",
    icon: "mdi:mastodon",
    text: "Mastodon",
  },
];
---

<BaseLayout
  title={title}
  subtitle={subtitle}
  image={image}
  md_github_url={md_github_url}
  subfooter={subfooter}
  headings={headings}
>
  <Hero>
    <div class="container-lg relative">
      <h1 class="typo-h2">{title}</h1>
      <p class="typo-blockquote mt-4 lg:mt-8">{subtitle}</p>
    </div>
  </Hero>
  <div class="py-10 px-4 lg:py-20 lg:px-10">
    <div class="lg:flex">
      <div
        class="sticky top-28 mr-5 hidden h-[calc(100vh-7rem)] w-[8rem] flex-none overflow-y-auto pb-10 lg:block 2xl:w-[17rem]"
      >
        <SidebarNav />
      </div>

      <main
        class="lg:container-lg lg:w-[calc(100%-8rem)] xl:w-[calc(100%-25rem)] 2xl:w-[calc(100%-34rem)]"
      >
        <MarkdownWrapper headings={headings} client:load>
          <slot />
        </MarkdownWrapper>
        <slot />
        <nav class="mt-12 text-gray-600 dark:text-gray-400 lg:hidden">
          <CommunityLinks links={community_links} />
        </nav>
      </main>

      <div
        class="sticky top-28 ml-5 hidden h-[calc(100vh-7rem)] w-[17rem] flex-none overflow-y-auto pb-10 xl:block"
      >
        <SidebarSecondary headings={headings} community_links={community_links} />
      </div>
    </div>
  </div>
</BaseLayout>
