---
import HeroBackgroundSrc from "../images/background.png";
import Button from "@components/Button.svelte";
import DarkModeToggle from "@components/DarkModeToggle.svelte";

import Logo from "../logos/multiqc_logo_darkbg.svg";
import Icon from "astro-icon";

const location = Astro.url;

const navOpened = false;

// TODO: make resposive
---

<header class="sticky top-0 z-10" style={{ backgroundImage: `url(${HeroBackgroundSrc})` }}>
  <div class="container-lg flex h-16 w-full flex-wrap items-center justify-between md:h-24">
    <a href="/" class="block uppercase">
      <img
        src={Logo}
        class:list={["h-8 lg:h-10", { hidden: location.pathname === "/" }]}
        alt="MultiQC logo"
      />
    </a>
    <div class="hidden items-center lg:flex">
      <a
        href="/"
        class:list={[
          "mx-2 mr-px rounded-sm bg-black bg-opacity-0 py-1 px-4 font-body font-light tracking-wide hover:text-white",
          {
            "text-gray-300": location.pathname !== "/",
            "bg-opacity-30 text-white hover:bg-opacity-50": location.pathname === "/",
          },
        ]}
      >
        Home
      </a>
      <a
        href="/modules/"
        class:list={[
          "mx-2 mr-px rounded-sm bg-black bg-opacity-0 py-1 px-4 font-body font-light tracking-wide hover:text-white",
          {
            "text-gray-300": !location.pathname.includes("/modules/"),
            "bg-opacity-30 text-white hover:bg-opacity-50": location.pathname.includes("modules/"),
          },
        ]}
      >
        Tools
      </a>
      <a
        href="/docs/"
        class:list={[
          "mx-2 mr-px rounded-sm bg-black bg-opacity-0 py-1 px-4 font-body font-light tracking-wide hover:text-white",
          {
            "text-gray-300": !location.pathname.includes("/docs/"),
            "bg-opacity-30 text-white hover:bg-opacity-50": location.pathname.includes("/docs/"),
          },
        ]}
      >
        Docs
      </a>
      <a
        href="/plugins/"
        class:list={[
          "mx-2 mr-px rounded-sm bg-black bg-opacity-0 py-1 px-4 font-body font-light tracking-wide hover:text-white",
          {
            "text-gray-300": !location.pathname.includes("/plugins/"),
            "bg-opacity-30 text-white hover:bg-opacity-50": location.pathname.includes("/plugins/"),
          },
        ]}
      >
        Plugins
      </a>

      <a
        href="/logos/"
        class:list={[
          "mx-2 mr-px rounded-sm bg-black bg-opacity-0 py-1 px-4 font-body font-light tracking-wide hover:text-white",
          {
            "text-gray-300": !location.pathname.includes("/logos/"),
            "bg-opacity-30 text-white hover:bg-opacity-50": location.pathname.includes("/logos/"),
          },
        ]}
      >
        Logo
      </a>
      <a
        href="/example-reports/"
        class:list={[
          "mx-2 mr-px rounded-sm bg-black bg-opacity-0 py-1 px-4 font-body font-light tracking-wide hover:text-white",
          {
            "text-gray-300": !location.pathname.includes("/example-reports/"),
            "bg-opacity-30 text-white hover:bg-opacity-50":
              location.pathname.includes("/example-reports/"),
          },
        ]}
      >
        Example reports
      </a>
      <DarkModeToggle client:idle />
    </div>
    <div class="lg:hidden">
      <!-- setNavOpened(true) -->
      <Button noShadow={true} classes="text-white">
        <Icon name="mdi:menu" />
      </Button>
    </div>
  </div>
</header>
<div
  class:list={[
    "fixed inset-0 z-20 bg-slate-900 px-4 text-slate-100 transition-all",
    {
      "invisible opacity-0": !navOpened,
      "visible opacity-100": navOpened,
    },
  ]}
  style={{ backgroundImage: `url(${HeroBackgroundSrc})` }}
>
  <div class="flex h-full flex-col">
    <div class="flex h-16 items-center justify-between">
      <a href="/" class="block uppercase">
        <img src={Logo} class="h-8 lg:h-10" alt="MultiQC Logo" />
      </a>
      <Button noShadow={true}>
        <Icon name="mdi:window-close" />
      </Button>
    </div>
    <div class="flex-1 overflow-y-auto py-8 text-center">
      <div
        class:list={[
          "rounded-sm bg-black bg-opacity-0 py-3",
          {
            "bg-opacity-30 hover:bg-opacity-50": location.pathname === "/",
          },
        ]}
      >
        <Button to={"/"} noShadow={true} classes="typo-intro">Home</Button>
      </div>
      <div
        class:list={[
          "mt-4 rounded-sm bg-black bg-opacity-0 py-3",
          {
            "bg-opacity-30 hover:bg-opacity-50": location.pathname.includes("/docs/"),
          },
        ]}
      >
        <Button to={"/docs/"} noShadow={true} classes="typo-intro">Docs</Button>
      </div>
      <div
        class:list={[
          "mt-4 rounded-sm bg-black bg-opacity-0 py-3",
          {
            "bg-opacity-30 hover:bg-opacity-50": location.pathname.includes("/plugins/"),
          },
        ]}
      >
        <Button to={"/plugins/"} noShadow={true} classes="typo-intro">Plugins</Button>
      </div>
      <div
        class:list={[
          "mt-4 rounded-sm bg-black bg-opacity-0 py-3",
          {
            "bg-opacity-30 hover:bg-opacity-50": location.pathname.includes("/modules/"),
          },
        ]}
      >
        <Button to={"/modules/"} noShadow={true} classes="typo-intro">Modules</Button>
      </div>
      <div
        class:list={[
          "mt-4 rounded-sm bg-black bg-opacity-0 py-3",
          {
            "bg-opacity-30 hover:bg-opacity-50": location.pathname.includes("/logos/"),
          },
        ]}
      >
        <Button to={"/logos/"} noShadow={true} classes="typo-intro">Logos</Button>
      </div>
      <div
        class:list={[
          "mt-4 rounded-sm bg-black bg-opacity-0 py-3",
          {
            "bg-opacity-30 hover:bg-opacity-50": location.pathname.includes("/example-reports/"),
          },
        ]}
      >
        <Button to={"/example-reports/"} noShadow={true} classes="typo-intro">
          Example reports
        </Button>
      </div>
    </div>
  </div>
</div>
