---
import BaseLayout from "@layouts/BaseLayout.astro";
import Hero from "@components/Hero.astro";

export interface Props {
  title?: string;
  subtitle?: string;
  extra_subtitle?: string;
  section?: string;
  image?: string;
}

const { title, subtitle, extra_subtitle, section, image } = Astro.props;
---

<BaseLayout
  title={title}
  subtitle={subtitle}
  extra_subtitle={extra_subtitle}
  section={section}
  image={image}
>
  <Hero>
    <div class="container-lg relative">
      <h1 class="typo-h2">{title}</h1>
      {section && <h5 class="typo-h5 mb-4 uppercase text-blue-400/80">{section}</h5>}
      <p class="typo-blockquote mt-4 lg:mt-8">{subtitle}</p>
      {
        extra_subtitle && (
          <p class="mt-2 text-xs font-light text-gray-200 lg:mt-6">{extra_subtitle}</p>
        )
      }
    </div>
  </Hero>
  <div class="container-lg py-10 lg:py-20">
    <slot />
  </div>
</BaseLayout>
